.container {
  width: 100% !important;
  padding: 0em 1em 0em 1em !important;
  margin: auto !important;
}

#about {
  margin-block: 45vh;
  padding-block: 10vh;
  color: white;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 575px) {
  #about {
    padding-block: 10vh;
  }
}
