.vertical-timeline-element-title{
    color: white !important;
}
.vertical-timeline-element-subtitle{
    color: white !important;
}
.vertical-timeline-element--work{
    color: white !important;
}

.techStack{
    color: white;
}

.date{
    color: black;
    font-weight: bolder !important;
}