.vertical-timeline-element-title{
    color: yellowgreen !important;
}
.vertical-timeline-element-subtitle{
    color: white !important;
}
.vertical-timeline-element--work{
    color: yellowgreen !important;
}

.vertical-timeline-element-content{
    box-shadow: none !important;
    background-color: black !important;
    border: 2px solid white !important;
}

.techStack{
    color: #DEFFAB;
}

.date{
    color: yellowgreen;
    font-weight: bolder !important;
}